$font-color: #35495e;
$secondary-color: #909090b7;
$background-color: rgba(236, 236, 236, 0.718);

$white-color: white;
$red-color: rgb(254, 50, 23);

$font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif