@import "./variables";

* {
    color: $font-color;
    font-family: $font-family;
}

body {
    background-color: $background-color;
}

.title {
    margin: 3rem 0;
}

.primary-button {
    width: 80%;
    padding: 0.8rem;
    border: 1px solid $font-color;
    border-radius: 20px;
    font-weight: 700;
    background-color: $white-color;
}

.primary-button:hover {
    color: $white-color;
    background-color: $font-color;
}
